
<div class="homeCont">
   <div class="homeHeader box">
      <div class="hhtext">Home</div>
      <div class="hhtext"><i class="fa-solid fa-table-cells blue"></i>All Activity</div>
   </div>
   <div class="storeCont">
      <div class="storeLeft">
         <div class="box">
            <div class="joinDc">
               <div class="instaDelivery">
                  <svg viewBox="0 0 24 24" class="my-custom-icon" fill="currentColor" style="width: 40px; height: 40px; color:rgb(44 159 235)">
                  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5" 
                        stroke-width="2" stroke="currentColor" 
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                  </svg>    
                  <div class="dctxt">
                     <h2>Instant Delivery With Credit Card & Crypto!</h2>
                     <p>To use Cashapp, Venmo, or Zelle join our discord and create a ticket.</p>
                  </div>           
               </div>
               <button class="dc">Join Discord</button>
            </div>
         </div>
         <div class="box products">
            <h3>All Products</h3>
            <div class="products-grid gap3">
               <img class="br5" src="https://user-generated-content.komerza.com/ef1ddbce-57ad-433c-a89b-b232c8d1f28e.png" alt="">
               <img class="br5" src="https://user-generated-content.komerza.com/cdedd1b0-6e98-4431-a833-144ff80a0e38.png" alt="">
               <img class="br5" src="https://user-generated-content.komerza.com/e9bfa2b4-9311-4a44-829c-4dd720e50a65.PNG" alt="">
               <img class="br5" src="https://user-generated-content.komerza.com/5bd14b82-bde0-4835-a447-0b434c99fc08.png" alt="">
               <img class="br5" src="https://user-generated-content.komerza.com/957578bc-4399-46dd-b985-625ed676acad.PNG" alt="">
               <img class="br5" src="https://user-generated-content.komerza.com/26820da7-c583-4df6-8ae9-1389525c1689.png" alt="">
               <img class="br5" src="https://user-generated-content.komerza.com/e1fb9029-22e4-415f-94b4-a86f48e45f67.png" alt="">
               <img class="br5" src="https://user-generated-content.komerza.com/183d0042-8b04-45bb-aab4-7fe46cf7230f.png" alt="">
            </div>
         </div>
         <div class="box products">
            <h3>Featured Products</h3>
            <div class="products-grid gap3">
            <div class="featured">
               <img src="https://user-generated-content.komerza.com/1d10375b-427d-4336-801b-28ee7126725e.webp" alt="">
               <div class="featuredInfo">
                  <div class="namePrice">
                  <h4 class="name">Arc Raiders</h4>
                  <div class="price green">FROM$13.99</div>
                  </div>
                  <span class="undetected green">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 12px; height: 12px;" fill="currentColor">
                     <path d="M256 0c4.6 0 9.2 1 13.4 2.9L457.8 82.8c22 9.3 38.4 31 38.3 57.2-.5 99.2-41.3 280.7-213.6 363.2-16.7 8-36.1 8-52.8 0-172.4-82.5-213.1-264-213.6-363.2-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.9 1 251.4 0 256 0zm0 66.8l0 378.1c138-66.8 175.1-214.8 176-303.4l-176-74.6 0 0z"/>
                  </svg>UNDETECTED</span>
                  <button class="buyNow"><i class="fa-solid fa-cart-shopping blue"></i>Buy Now</button>
               </div>
            </div>
            <div class="featured">
               <img src="https://user-generated-content.komerza.com/d1369bbe-6020-4e95-8f6b-368160449555.webp" alt="">
               <div class="featuredInfo">
                  <div class="namePrice">
                  <h4 class="name">R6 Private</h4>
                  <div class="price green">FROM$13.99</div>
                  </div>
                  <span class="undetected green"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 12px; height: 12px;" fill="currentColor">
                     <path d="M256 0c4.6 0 9.2 1 13.4 2.9L457.8 82.8c22 9.3 38.4 31 38.3 57.2-.5 99.2-41.3 280.7-213.6 363.2-16.7 8-36.1 8-52.8 0-172.4-82.5-213.1-264-213.6-363.2-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.9 1 251.4 0 256 0zm0 66.8l0 378.1c138-66.8 175.1-214.8 176-303.4l-176-74.6 0 0z"/>
                  </svg>UNDETECTED</span>
                  <button class="buyNow"><i class="fa-solid fa-cart-shopping blue"></i>Buy Now</button>
               </div>
            </div>
            <div class="featured">
               <img src="https://user-generated-content.komerza.com/091dbc9d-2427-4a7e-a285-b3e86be8210a.webp" alt="">
               <div class="featuredInfo">
                  <div class="namePrice">
                  <h4 class="name">Valorant</h4>
                  <div class="price green">FROM$13.99</div>
                  </div>
                  <span class="undetected green"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 12px; height: 12px;" fill="currentColor">
                     <path d="M256 0c4.6 0 9.2 1 13.4 2.9L457.8 82.8c22 9.3 38.4 31 38.3 57.2-.5 99.2-41.3 280.7-213.6 363.2-16.7 8-36.1 8-52.8 0-172.4-82.5-213.1-264-213.6-363.2-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.9 1 251.4 0 256 0zm0 66.8l0 378.1c138-66.8 175.1-214.8 176-303.4l-176-74.6 0 0z"/>
                  </svg>UNDETECTED</span>
                  <button class="buyNow"><i class="fa-solid fa-cart-shopping blue"></i>Buy Now</button>
               </div>
            </div>
            </div>
         </div>
      </div>
      <div class="storeRight ">
         <div class="Categories box">
            <h3 style="font-size: 14px;">Categories</h3>
            <ul>
               <li class="li"><a href=""><span></span> Rainbow Six Siege</a></li>
               <li class="li"><a href=""><span></span>Valorant</a></li>
               <li class="li"><a href=""><span></span>Apex Legends</a></li>
               <li class="li"><a href=""><span></span>HWID Spoofer</a></li>
               <li class="li"><a href=""><span></span>Rust</a></li>
               <li class="li"><a href=""><span></span>Fortnite</a></li>
               <li class="li"><a href=""><span></span>Call Of Duty</a></li>
               <li class="li"><a href=""><span></span>Arc Raiders</a></li>
            </ul>
            
         </div>
         <div class="box Categories">
            <h3 style="font-size: 14px;">Who's Online</h3> 
            <span>metrix,</span>
            <span>InumakiTV,</span>
            <span>554321.tre,</span>
            <span>911,</span>
            <span>DrStoneee,</span>
            <span>Ludufy,</span>
            <span>Sofradillo3,</span>
            <span>littlebigplanet8000,</span>
            <span>gk101</span>
      </div>
      <div class="box Categories">
         <h3 style="font-size: 14px;">Member Statistics</h3> 
         <div class="stats">Total Members <div class="sayi">7.508</div></div>
         <div class="stats">Most Online  <div class="sayi">168</div></div>
      </div>
   </div>
</div>